<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        {{>header}}
        <main>
            {{{body}}}
        </main>
    </div>
    {{>footer}}
</body>

</html>